.navbar {
    background-color: #3f4651;
    font-size: 12pt;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;  
    padding: 0px;
}

.navbar a {
    color: #d8dfe2;
}

.logo-color {
    color: #5ccf79;
    
}