<div class="top-menu">
    <div class="row menu-row">
        <div class="col-xs-2">
            <div class="row">
                <div class="col-xs-10">
                    <h5 class="pull-right">Home</h5>
                </div>
                <div class="col-xs-2">
                    <h5 class="pull-right">l</h5>
                </div>
            </div>       
        </div>
        <div class="col-xs-4">
            <h5>About</h5>
        </div>
        <div class="col-xs-4">
            <h5>Contact</h5>
        </div>
    </div>
</div>
